torch==2.0.1
torchvision==0.15.2
transformers==4.36.2
accelerate==0.20.0
sounddevice
webrtcvad-wheels
pyautogui
pytesseract
numpy<2.0
pillow
datasets
safetensors==0.3.3
librosa
soundfile
pynput>=1.7.0
pyaudio
cryptography==39.0.0
pyOpenSSL==23.0.0
PyGObject==3.50.0
pybind11>=2.12
accelerate
